/* Variables */

:root {
  --basic-dark: #000000;
  --basic-grey: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-white: #ffffff;
  --text-black: #283136;
  --background: #888888;
  --icon-grey: #4D4D4D;
  --form-grey: #666666
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--basic-dark)
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: medium;
  text-transform: uppercase;
  color: var(--text-black);
  background-color: var(--basic-white);
}

.button {
  font: roboto;
  font-size: 16px;
  line-height: 18px;
  font-weight: medium;
  text-align: center;
  color: var(--basic-dark);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-grey);
  border: none;
}

.h2 {
  font: roboto;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.p {
  font: roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: regular;
}

.button-red{
  font: roboto;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: medium;
  background-color: var(--basic-red);
}

.button-green{
  font: roboto;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: medium;
  background-color: var(--basic-green);
}

.button-yellow{
  font: roboto;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: medium;
  background-color: var(--basic-yellow);
}
