

:root {
  --basic-dark: #000000;
  --basic-grey: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-white: #ffffff;
  --text-black: #283136;
  --background: #888888;
  --icon-grey: #4D4D4D;
  --form-grey: #666666
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: medium;
  color: var(--text-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-dark)
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-navigation {
  display: flex;
  align-items: center;
  margin: 0px;
  text-transform: uppercase;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.container {
  display: flex;
  width: 1160px;
  margin: 140 auto;
  padding:  10px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  padding: 0;
  min-height: 70px;
  margin: 0px 260px;
}


  .features {
    margin-bottom: 80px;
  }

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
}

.feature-item {
  text-align: center;
  margin: 0 10px;
}

.button-catalog{
  line-height: 18px;
  font-weight: medium;
  text-align: center;
  color: var(--basic-dark);
  vertical-align: middle;
  background-color: var(--basic-grey);
}

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.description {
  font-weight: regular;
}

.button{
  line-height: 18px;
  color: var(--basic-white);
}

.button-red{
  background-color: var(--basic-red);
}

.button-green{
  background-color: var(--basic-green);
}

.button-yellow{
  background-color: var(--basic-yellow);
}

.link{
  display: flex;

}
